/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	header .menu ul {
		display: none;
		padding: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	header .menu li {
		margin-bottom: 10px;
	}
	header .menu .mobile-nav-toggle {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	header .menu nav {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
		header .title {
		margin-left: 0;
	}
	section.section-2 .right-part .form-wrap {
		margin-left: 40px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header .top-mnu nav li {
		margin-right: 20px;
	}
	section.section-2 .right-part .form-wrap {
		top: 0;
		left: 50%;
		margin-left: -160px;
	}
	section.section-2 .product img {
		top: 10px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	header .top-mnu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	header .top-mnu h1 {
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}

	header .top-mnu nav {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}

	header .top-mnu nav {
		margin-bottom: 20px;
	}

	header .title {
		margin-left: 0px;
		max-width: none;
	}
	section.section-2 .product-features .cta-wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	section.section-2 .product-features .features-wrap {
		margin-bottom: 20px;
	}
	section.section-2 .product {
		display: none;
	}
	section.section-2 .product-features {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 20px 0;
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header .menu nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	header .menu .basket {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-align-self: auto;
		    -ms-flex-item-align: auto;
		        align-self: auto;
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
	}
	header .top-mnu nav ul {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	header .title h1 {
		font-size: 42px;
	}
	header .title {
		margin-top: 40px;
	}
	header .menu .mobil-nav {
		padding-top: 0;
	}
	section.section-2 .product-features .cta-wrap h1 {
		text-align: center;
	}
}